@tailwind base;
@tailwind components;
@tailwind utilities;

.user-column,
.user-header {
  width: 15%;
}

.tweet-column,
.tweet-header {
  width: 50%;
}

.likes-column,
.likes-header {
  width: 20%;
}

.date-column,
.date-header {
  width: 15%;
}

@keyframes popIn {
  0% {
    opacity: 0.5;
    transform: scale(0.3);
  }
  60% {
    opacity: 1;
    transform: scale(1.025);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popInLate {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop-in {
  animation: popIn 0.5s ease-out;
}

.animate-pop-in-late {
  animation: popInLate 0.5s ease-out;
}

.table-container {
  transition: transform 0.2s ease-in-out;
}

.table-container:hover {
  transform: scale(1.02);
}

/* Add this to your CSS file or within a <style> tag in your component */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust the scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b; /* Adjust the track background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #626262; /* Adjust the thumb color */
  border-radius: 50px; /* Adjust the thumb border-radius */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #373737; /* Adjust the thumb color when hovered */
}

@keyframes neonGradient {
  0% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 25% 50%;
  }
}

.neon-border-2 .neon-border {
  position: relative;
}

.table_above {
  z-index: 1;
  position: relative;
}

.rounded-indicator {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.neon-border::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background: linear-gradient(
    -90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff,
    #ff0000
  );
  background-size: 300% 300%;
  border-radius: 6px;
  animation: neonGradient 10s ease infinite;
}

.neon-border-2::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background: linear-gradient(
    20deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff,
    #ff0000
  );
  background-size: 300% 300%;
  border-radius: 6px;
  animation: neonGradient 8s ease infinite;
}

.neon-text {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff,
    #ff0000
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonGradient 10s ease infinite;
}

@keyframes neon-spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.grid-background {

}

.grid-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgb(82, 82, 82) 1px, transparent 1px);
  background-size: 21px 21px;
  opacity: 0.5;
}

.title-container {
  position: relative;
  z-index: 1;
}
